* {
  padding: 0px;
  margin: 0px;
  
}
:root{
    --background-dark: #1a1a1a;   
    --background-light: #333333;  
    --text-color: #ffffff;      
    --key-color: #4a4a4a;         
    --key-hover: #666666;       
    --operator-color: #ff9500;   
    --operator-hover: #ffaa00;    
    --equal-color: #ff5e3a;       
    --equal-hover: #ff774d;
    --font-number: 'Roboto Mono', monospace;
}
body {
  background-color: var(--background-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
td {
  text-align: center;

  /* border: 1px solid #ddd; */
  padding: 2px;
}
button:hover{
    background-color: rgba(0, 0, 0, 0.306);
}
.number {
    background-color: var(--key-color);
  text-align: center;
  font-size: 20px;
  width: 80px;
  height: 50px;
  padding: 5px;
  border-radius: 3px;
  border: none;
  color: var(--text-color);
  font-family: var(--font-number);


}

.symbol {
    border: none;
    color: var(--text-color);
    background-color: var(--operator-color);
  text-align: center;
  font-size: 20px;
  width: 80px;
  height: 50px;
  padding: 5px;
  border-radius: 3px;
  font-family: var(--font-number);



}
.symbol:hover{
    background-color: var(--operator-hover);
}
.inputbox{
/* border: 2px solid black; */
display: flex;
justify-content: center;

}
#inputValuedisplay{
  font-family: var(--font-number);

    margin-bottom: 5px;
    padding: 5px;
    padding-right: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid rgb(104, 94, 94);
    background-color: var(--background-dark);
    height: 50px;
    width: 93.5%;
    text-align:end;
    /* text-wrap:pretty; */
    color: var(--text-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#answer{
    background-color: var(--equal-color);
    text-align: center;
    font-size: 30px;
    width: 80px;
    height: 50px;
    padding: 5px;
    border: none;
    border-radius: 3px;
  font-family: var(--font-number);

}
#answer:hover{
    background-color: var(--equal-hover);
}
.rest{
    display: flex;
    justify-content:space-evenly;
}
.RestButton{
    border: none;
    color: var(--text-color);
    background-color:rgb(15, 169, 33);
  text-align: center;
  font-size: 20px;
  width:49% ;
  height: 50px;
  padding: 5px;
  border-radius: 3px;
  font-family: var(--font-number);
  margin: 3px;
}
.RestButton:hover{
    background-color:rgb(15, 190, 33);

}